$base-font: Arial, sans-serif;
$brand-font: 'Oswald', sans-serif;
$bold:700;
$normal:400;
$light:300;

$black:#000;
$white:#fff;
$color-red:#ed342d;
$color-grey-lighter: #f1f1f1;
$color-grey-light: #ddd;
$color-grey-dark: #ccc;
$color-grey-darker: #333;