<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="row top-banner hidden">
  <div class="col-md-12 center padd-20">
    <a href=""><img src="img/leaderboard-banner-728x90.jpg"></a>
  </div>
</div>

<div class="row branding">
  <div class="container animated fadeIn no-padd">
    <h1 class="upper-case m-tb-20 no-padd pull-left">
      <a href="#/"><img src="img/joulu_logo.png" alt=""/></a>
    </h1>
    <ul class="versions pull-right list-reset m10">
      <li><a href=""><img src="img/ver-desktop.jpg"></a></li>
      <li><a href=""><img src="img/ver-tablet.jpg"></a></li>
      <li><a href=""><img src="img/ver-calcus.jpg"></a></li>
    </ul>
  </div>
</div>